body { 
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0; 
  padding: 0; 

  box-sizing: border-box;
}

.container {
  /* background-color: rgb(174, 164, 164); */
  
  display: grid;
  grid-template-columns: minmax(330px ,25%) 75%;
}

.chat, aside {
  height: calc(100vh - 3.8rem);
}

/* aside - users statuts */
aside {
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.201);
}

.collapsible {
  width: 100%;
  height: 3rem;

  font-size: 1.3rem;
  color: #989a9b;

  text-align: left;
  align-content: center;
  padding-left: 1.8rem;
  margin-bottom: 5px;
  
  border: none;
}

.collapsible:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */

  opacity: 0.4;
  
  font-size: 13px;
  float: right;

  margin-right: 15px;
}

.active:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
}

.toCollapse {
  display: block;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* background-color: #f1f1f1; */
}

.usersStts li {
  padding: 10px 1.25rem 10px;
  align-items: center;
  display: grid;

  /* border: 1px solid black; */
  color: #595a5b;  
}

.usersStts li:hover {
  background-color: #dfdfdf;
  border-radius: 0 50px 50px 0;
  width: 90%;
}

.usersStts li h3 {
  font-weight: 400;

}

.usersStts li p {
  opacity: 0.7;
  font-size: 0.8rem;

  margin-left: 0.3rem;

}

.rooms {
  position: absolute;
  width: 100%;
  top: 50%;
}


/* chat */
.chat {
  position: relative;
}

header {
  /* background-color: rgb(128, 127, 127); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.201);

  height: 3.8rem;
  padding: 0.75rem 2rem;
}

.chat header {
  padding-top: 0.5rem;  

}

.chat header h2 {
  color: #595a5b;  
  font-size: 1.3rem;
  font-weight: 400;
}

h4.status {
  position: relative;

  color: rgba(89, 90, 91, 0.596);  
  font-weight: 200;
  
  margin-left: 0.3rem;
  padding-left: 0.5rem;
}

h4.status::before {
  position: absolute;
  width: 4px;
  height: 4px;
  
  content: "";

  border-radius: 2px;
  
  position: absolute;
  left: 0;
  top: 50%;  
  
  transform: translate(-50%, -50%);
}

h4.online::before {
  background: rgb(12, 220, 29);
}

h4.offline::before {
  background: rgb(211, 220, 212);
}

/* Messages */

#messages { 
  list-style-type: none; 
}
#messages > li { 
  padding: 0.5rem 1rem; 
}
#messages > li:nth-child(odd) { 
  background: #efefef; 
}

/*  */
#form { 

  display: flex; 
  padding: 0.25rem; 
  
  align-items: center;
  
  position: absolute; 
  
  bottom: 2.4rem; 
  left: 0; 
  right: 0; 

  height: 3rem;   
  margin: 0 auto;

  max-width: 90%;


}

#input { 
  border: none; 
  padding: 0 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem; 

  height: 3rem;

  background-color: #e9e9e9;
}

#input:focus { 
  outline: none; 
}

#form > button { 
  background: transparent; 
  border-radius: 3px; 
  border: none; 
  outline: none; 
  color: #fff; 

}

/* messages */
.log {
  text-align: end;
}

.in {
  color: green;
}

.out {
  color: red;
}

.sent {
  background-color: aquamarine !important;
}
.received {
  background-color: pink !important; 
}

.typing {
  position: absolute;
  bottom: 3rem;

  color: red;
}